/*
///////////////////
GLOBAL HTML
\\\\\\\\\\\\\\\\\\\
*/
:root {
    --main-bg-color: #3a5033;
    --primary-text-color: #94AE89;
    --accent-color: #639CE1;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg,#364e2f, #779f6b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    color: #F7E7CE;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    width: 100%;
    background-color: #333;
    padding: 0;
    margin: 0;
}

header img {
    width: 150px;
    justify-self: start;
}

@media (max-width: 800px) {
    img {
        display:none
    }
}

nav {
    display: flex;
    text-align: right;
    width: 100%;
    grid-column: 2/4;
    justify-content: flex-end;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-self: flex-end;
    width: 100%;
}


.navigation li { 
    margin-left: 40px;
}


.last {
    margin-right: 70px;
}

.navigation a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

@media (max-width: 800px) {
    .last {
        margin: 0;
    }
}
@media (max-width: 800px) {
    .navigation li {
        margin-left: 10px;
        
    }
}

footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .socials a {
    margin: 0 10px;
}

footer .socials img {
    width: 40px;
    height: 40px;
}

/*
///////////////////
ABOUT.HTML
\\\\\\\\\\\\\\\\\\\
*/


.hero {
    display: flex;
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
    justify-content: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
    overflow: hidden;
    align-self: flex-start; 
}

.hero h1 {
    position: absolute;
    top: 15px;
    margin: 0;
    font-size: 70px;
    font-style: italic;
    background: linear-gradient(45deg, #8af00a, #3e540b);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
}

.customer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 100px;
    position: absolute;
    bottom: 20px;
    background-color: rgba(9, 4, 4, 0.4);
    padding: 15px;
    color: white;
    width: 50%;
    margin: 0;
}

.customer p {
    grid-column: 1;
    margin: 0;
}

.customer img {
    width: 200px;
    grid-column: 2;
    grid-row: 1;
}

.history {
    display: flex;;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: 30px auto;
    text-align: center;
    border: 3px solid black;
}

.history > * {
    flex: 1;
    margin: 0;
}

.historymain {
    font-size: 30px;
}

.historymain img {
    margin-bottom: 15px;
    width: 300px;
}

.historymain h2 {
    padding: 0;
    margin: 0 0 15px 0;
}

.history p {
    font-size: 16px;
    margin: 70px 35px 10px 35px;
}

.adventures {
    border: solid 3px black;
    width: 80%;
    margin: 30px auto;
}

.adventures .images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
}

.adventures figure {
    justify-content: space-between;
}


.adventures h2 {
    text-align: center;
    font-size: 40px;
}

figcaption {
    font-size: 20px;
    color: orange;
}



/* 
///////////////////
CONTACT.HTML
\\\\\\\\\\\\\\\\\\\
*/

main h1 {
    text-align: center;
    font-size: 50px;
    font-style: italic;
}

form {
    display: flex; 
    overflow: hidden;
    justify-content: space-between;
    height: auto;
    text-align: center;
    margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
    form {overflow-x: scroll;} 
  }

form > * {
    flex-basis: 100%;
    margin: 0 10% 0 10%;
    width: 0;
    outline: 0;
}

form fieldset {
    height: 800px;
    border: solid black 2px;
}

/*//////////////*/
/*Submit a Form */
/*//////////////*/

.subform {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 30% 30% 30%;
    align-items: center;
}

.subform > * {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0;
    color: rgb(241, 250, 199);
    font-size: 20px;
    margin-top: 30px;
    grid-column: 2;
}


.subform h2 {
    font-size: clamp(2rem, 5vw, 3rem);
}


/*Input styling*/

.subform input[type="text"], textarea {
    box-sizing: border-box;
    border: 1px gray;
    height: 30px;
    margin: 25px 20px 0px 20px;
    border-radius: 5px;
}

.subform input[type="text"]:hover, textarea:hover {
    border: solid gray 1px ;
}


.subform input[type="text"]:focus, textarea:focus {
    outline: 0;
    box-shadow:  0px 0px;
    border: solid 1px #40E0D0;
}


/*User info input class*/

.userinfodiv {
    grid-row: 2
}

.userinfolabels {
    margin-top: 10px;
    padding:0;
}

.userinfodiv input[type="text"] {
    margin-top: 15px;
}

/*Reason for contacting class*/
.reasondiv {
    padding: 0;
    margin: 20px 0 0 0;
    grid-row: 3;
}

.reasondiv > * {
    border-radius: 7px;
    margin: 10px;
}

.reasondiv select {
    box-sizing: border-box;
    border: 1px gray;
    margin: 20px 20px 0px 20px;
    border-radius: 5px;
}

#reason {
    margin-top: 20px;
    height: 30px;
    transition: all 0.3s ease-in;
}

#message {
    height: 60px;
    margin: 25px 0 0 0;
}

/*Submit button class*/
.subelement {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    grid-row: 4;
    align-self: start;
}

#submitbtn {
    background-color: #a1b7c0;
    color: #0e2e3a;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    box-shadow: #819299 2px 2px;
    outline: 0;
    border:  0;
    font-size: 20px;
    font-style: italic;
}

#submitbtn:hover {
    border: solid 1px hsla(0, 0%, 0%, 0.249);
}

#submitbtn:focus {
    box-shadow: #819299 1px 1px;
}

#checkboxlabel {
    font-size: 12px;
}

/*////////////////////*/
/*Company Information */
/*////////////////////*/

#compinfo h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 50px;
}

#compinfo h3 {
    font-size: 25px;
    text-wrap: wrap;
    color: rgb(241, 250, 199);
    font: italic;
}

#googlemaps {
    margin-top: 50px;
    max-width: 80%;
    max-height: 45%;
    margin-bottom: 10px;
}



/*
TEAM SECTION
*/

.team-section {
    display: grid;
    grid-template-columns: 10% 20% 10% 20% 10% 20% 10%;
    grid-template-rows: 20% 80%;
    row-gap: 70px;
    width: 100%;
    height: auto;
}

.team-section h2 {
    grid-row: 1;
    grid-column: 4;
    font-size: 50px;
    font-style: italic;
    align-self: center;
    justify-self: center;
    height: 100%;
    margin: 10%;
}

.team-section h3 {
    text-align: center;
    font-style: italic;
    font-size: 24px;
    margin: 10px 0px 0px 0px;
}

.team-section  {
    text-align: center;
    color: white;
}

#team-member1 {
    grid-column: 2;
    grid-row: 2;
}

#team-member2 {
    grid-column: 4;
    grid-row: 2;
}

#team-member3 {
    grid-column: 6;
    grid-row: 2;
}
/*
.subelement > * {
    border: solid 1px red;
}


.subform > * {
    border: 1px solid yellow;
}

 
form {
    border: 1px solid red;
}


form fieldset {
    border: solid 3px black;
}
*/

