:root {
    /* Added this for the sake of the assignment but I wanted to have more control over the colors so I didn't end up using variables */
    --main-bg-color: #505033;
    --primary-text-color: #94AE89;
    --accent-color: #639CE1;
}

/* Making all headers Georgia serif */
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

    /* Making default body text Roboto sans-serif*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #505033;
}

header {
    background-color: #333;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

header nav ul li {
    margin: 0 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000000;
    font-size: 48px;
    margin: 0;
    font-style: italic;

    /*I didn't see anything about these not being allowed so I added outlines to my text using webkits to make it look better!*/
    -webkit-text-fill-color: #5c8c58;
    -webkit-text-stroke: 1px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    color: white;
    width: 200px;
    float: right;
}

.history, .aay {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.history p, .aay p {
    font-size: 16px;
}


footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .socials a {
    margin: 0 10px;
}

footer .socials img {
    width: 40px;
    height: 40px;
}
